
/* Shared Styles */

.container{
    max-width: 1140px;
    margin: 0 auto;
}
.leftmargin{
    margin-left: 150px;
    margin-top: 120px;
    margin-right: 150px;
}
.d-flex{
    display: flex;
}
.fontnoto{
    font-family: "Noto Serif", serif;
    font-size: 50px;
    font-weight: bold;
}
.fontred{
    color: #E95A08;
}


.fontinter {
  font-family: "Inter", sans-serif;
  font-weight:400;
  font-style: normal;
  font-size: 22px;
  color: #666666;
}

/* Header section */
.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
    /* max-width: auto; */
    height: 71px;
    margin-top: 30px;
}
.nav2{
    display: flex;
    justify-content: space-between;
    gap: 48px;
}
.headerbody{
     margin-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: auto; */
    height: 461px;
    /* border: 4px solid black; */
    align-items: flex-end;

}
.navitems1{
    font-weight: bold;
    font-family: "Inter", sans-serif;
}
 p {
  margin: 0;
  padding: 0;
}
 .hb1{
    /* align-items: flex-start; */
    height: 270px;
    width:570px;
    /* border: 4px solid black; */
  
}
.hb2  {
    height: 355px;
    width:570px;
    
   
}
/* .p2{
    margin-top: 16px;
} */
/*
.p1 {
    margin-top: 0px;
  font-size: 4em;
  line-height: 1.1;
  width: 570px;
  height: 178px;
  overflow: hidden;
  border: 4px solid black;
}

.p2{
    margin-top: 16px;
     max-width:570px;
    height: 108px;
    background-color: blue;
} */

.main1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 135px;

}
.card1
{
    /* border: solid red; */
    width: 270px;
    height: 485px;
}
.main1body2{
    width: 800px;
     text-align: center;
     margin-bottom: 49px;
     margin-top: 16px;
}
.main1body3{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

}
.card1body1 img{
     width: 270px;
  height: 322px;
}
.card1body2{
    text-align: center;
    font-weight: 500;
    font-family: "Inter", sans-serif;;
    font-size: 22px;
    margin-top: 20px;

}
.card1body3{
    text-align: center;
     font-weight: bold;
    font-family: "Inter", sans-serif;;
    font-size: 22px;
    margin-top: 20px;

}
.card1body4{
    background-color:#E95A08 ;
    color: white;
   
    margin-top: 20px;
     font-weight: 600 ;
    font-family: "Inter", sans-serif;;
    font-size: 16px;
     height: 50px;
     display: flex;
     align-items: center; 
      justify-content: center;
    
}

.plant-hed{
   font-size: 50px;
   font-weight: 700;
}

.li-item{
    margin-top: 20px;

}
.f-con{
    gap:60px;
    margin-top: 190px;
}
.badge{
   width: 286px;
   height: 286px; 
   position: absolute;
   top:-125px;
   right: -90px;
   filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.25));


}
.image-over{
    position: relative;
}

.image-under{
    width: 530px;
    height: 597px;
}


.card-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
   grid-template-rows: repeat(2, 1fr);
  gap: 28px;
    margin-top: 120px;
    
    
}

.card {
  display: flex;
  flex-direction: column;
    align-items: center;
  justify-content: center;
    color: white;
  gap: 16px;
  height: 200px;
  border-radius: 15px;
}
.bloom {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/deal-bloom.png");
   background-size: cover;
  background-repeat: no-repeat;
    background-position: center;
}
.ana {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/deal-ana.png");
  background-size: cover;
   background-repeat: no-repeat;
  background-position: center;
}
.zabo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/deal-zabo.png");
  background-size: cover;
   background-repeat: no-repeat;
  background-position: center;
    grid-column: 2/3;
  grid-row: 1/3;
  height: 100%;
}
.fo{
    color: white;
    font-size: 16px;
    margin-top: 0;
}
.fo1{
    font-size: 20px;
    font-weight: bold;
}
.boror{
    font-size: 40px;
    font-weight: bold;
}
.card span {
  text-decoration: underline;
}

.newsletter-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("images/news-letter-bg.png");
  height: 500px;
   background-repeat: no-repeat;
  background-position: center;
   background-size: cover;
  display: flex;
  flex-direction: column;
    justify-content: center;
  align-items: center;
   gap: 23px;
   margin-top: 120px;
   margin-bottom: 50px;
   
}
.newsletter-section h2 {
   color: white;
}

.submission-box {
   display: flex;
  width: 70%;
}

.submission-box button {
  background-color: #e95a08;
   padding: 20px 50px;
  color: white;
    font-weight: 600;
   font-size: 16px;
  border: none;
}
.submission-box input[type="email"] {
  width: 100%;
   padding: 8px 20px;
  outline: none;
}

.submission-box input[type="email"]::placeholder {
   font-size: 16px;
  color: #00000080;
}


footer{
  
    justify-content: space-around;
    gap:110px;
}

.foimg{
    gap:20px;
    background-color: #666666;

}
.last  {
    width: 360px;
    height: 85px;
    /* border: 2px solid red; */
    margin-top: 16px;
}
.boorder{
   
  display: flex;
  gap: 20px;
  justify-content: center;  /* horizontal centering */
  align-items:flex-start;       /* vertical centering */
  top: 0;
    /* background-color: #e95a08; */
    width: 216px; 
    /* width: 100%;  */
    margin-top: 10px;
    
}

.fontag{
    font-family: "Inter", sans-serif;
    font-weight:300px;
    color: #666666;
    /* font-size: 19px; */
}

@media screen and (max-width: 576px){
 
    
    
    .navitems3,.navitems2,.navitems1
    {
            display: none;
    }
    .headerbody{
        flex-direction: column-reverse;   
  }

  .main1body3{
    
    grid-template-columns: repeat(2, 1fr);
    

}
.restx{

    font-size: 24px;
    font-weight: bold;
  }
  .restext{
    font-size: 14px;
    max-width: 362px;
  }
   .mobile-br {
    display: inline;
  }

  .hb1{
    margin-left: 20px;
  }
    .f-con{
        flex-direction: column;
    }
    .badge{
        display: none;
    }
    .plant-hed{
        font-size: 24px;
        margin: 0;
    }
    br{
        display: none;
    }
    .f-con{
    gap: 18px;
    margin-top: 40px;
    }

    .li-item{
    margin-top: 16px;
    width: 361px;

    }
    .fontinter{
        font-size: 14px;
    }

     .card-container {
     grid-template-columns: repeat(1, 1fr);
    margin-top: 46px;
  }
  .card {
    height: 206px;
  }
   .zabo {
     grid-column: auto;
    grid-row: auto;
  }

    .submission-box button {
    padding: 8px 20px;
  }
  .newsletter-section h2 {
    font-size: 20px;
  }
.fot-con {
    flex-direction: column;
    gap: 0px; /* ⬅ Remove default spacing */
    /* align-items: center; */
    /* text-align: center; */
  }

  .fot-con > div {
    width: 100%;
    margin-bottom: 0px; /* ⬅ Reduce vertical space */
  }

  .boorder {
    /* flex-direction: column; */
     justify-content: flex-start;
    gap: 15px;
    /* flex-wrap: wrap; Allow wrap if screen too narrow */
  }
  
    
} 